<div class="row">
  <div class="col offset-5">
    <img src="assets/movie-logo.jpg" width="20%">
  </div>
</div>
<div style="text-align: center; color:grey">Please input a movie line that lingers in your mind, and we will find out which movie it is from</div>
<app-search-bar></app-search-bar>
<div>For you convenient, you can search these queries</div>
<a [routerLink]="['/search/Whoever saves one life, save the world entire']">Whoever saves one life, save the world entire</a>
<br>
<a [routerLink]="['/search/Life was like a box of chocolates, you never know what you\'re gonna get']" >Life was like a box of chocolates, you never know what you're gonna get</a>
<br>
<a [routerLink]="['/search/I guess it comes down a simple choice. Get busy living or get busy dying']" >I guess it comes down a simple choice. Get busy living or get busy dying</a>

