<div class="container">  
<div style="width: 100%" class="row">
    <mat-form-field style="width: 100%" appearance="outline">
      <mat-label>Movie Search</mat-label>
      <input #searchInput
             [matAutocomplete]="auto"
             matInput
             placeholder="Searching by Movie Search"
             type="text"
             (keyup.enter) = "_searching()">
      <button matSuffix mat-mini-fab color="primary" (click)="_searching()"><mat-icon  >search</mat-icon></button>

      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="_selectResult($event)">
        <mat-option *ngFor="let autocompleteResult of autocompleteResults">
          <div>{{autocompleteResult}}</div>
        </mat-option>

      </mat-autocomplete>
    </mat-form-field>
</div>
</div>
