a:link {
  text-decoration: none;
  color: cornflowerblue;
}

a:visited {
  text-decoration: none;
  color: coral;
}

a:hover {
  text-decoration: underline;
  color: cadetblue;
}

a:active {
  text-decoration: underline;
  color: cadetblue;
}
